.center{
    min-height:100vh;
    background-color:#b0be58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    background-color:#BAC095;
    margin: 25px;
    padding: 120px;
    border-radius: 5px;
    border: 2px solid black;
}
.row{
    display: flex;
    gap: 40px;
}
input {
  margin: 8px;
  padding: 8px;
  width: 350px;
}
button {
  margin: 5px;
  padding: 8px 15px;
}
input,button,label,#result{
  font-size: 30px;
}
.card {
  margin: 13px;
  border: 3px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
.list {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 30px;
}
h2{
  font-size: 50px;
}